In [1]:
import pandas as pd
import glob
from scipy.io import loadmat as sc # library to open .mab files

In [67]:
paths_hea = sorted(glob.glob('raw_data/*/*/*/*.hea'))#getting path for each .mat file

In [68]:
def fetch_lines(paths = paths_hea):
    lst = []
    for file in paths:        
        with open(file, 'r') as fp:
            lines = fp.readlines()[13:16] #fetching relavant lines
        lst.append(lines)    
    return lst

In [69]:
def fetch_id(paths = paths_hea):
    ids = []
    for file in paths:
        patient_id = file.split('/')[-1][2:-4]
        ids.append(patient_id)    
    return ids

In [70]:
def create_col(line_list): 
    line_list = fetch_lines()   
    for i in range(len(line_list)):
        line_list[i] = [x for xs in line_list[i] for x in xs.split(',')] # spliting dx values
        i +=1 
    return line_list

In [71]:
def create_df(cols, id_col):
    df_concat = pd.DataFrame(cols)
    df_concat = df_concat.rename(columns = lambda x: f"Dx_{int(x)-1}" if int(x) > 1 else x)
    df_concat.columns.values[0:2] =["Age", "Sex" ]
    df_concat['id'] = id_col
    return df_concat

In [72]:
def clean_col(df, output):
    cols = df.columns
    for col in cols:
        if col != "Sex":
            df[col] = df[col].str.extract('(\d+)')
        else:
            df[col] = df[col].str.slice(6,7)
        df.to_csv(output, index = False)
    return df

In [73]:
output = 'data/hea_files.csv'
cols = create_col('line_list')
ids = fetch_id()
df = clean_col(create_df(cols, ids), output)
df.head()

,Age,Sex,Dx_1,Dx_2,Dx_3,Dx_4,Dx_5,Dx_6,Dx_7,Dx_8,Dx_9,Dx_10,Dx_11,Dx_12,id
0,85,M,164889003,59118001,164934002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00001
1,59,F,426177001,164934002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00002
2,66,M,426177001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00004
3,73,F,164890007,429622005,428750005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00005
4,46,F,426177001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00006